@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

@import "bootstrap/scss/bootstrap";
button{
    border: none;
    background-color: white;
}

.mode-light{
        color: black;
        background-color: white;
}

.mode-dark {
    color: white;
    background-color: rgb(30, 30, 30,);
}

.router-link{
    text-decoration: none;
    text-transform: capitalize;
}

  