@import "/src/assets/scss/partials/variables.scss";

@media screen and (max-width: 1600px) {
  .animation-link{
    width: 250px!important;
  }
}
@media screen and (max-width:1300px) {
  .animation-link{
    width: 200px!important;
    .hover {
      padding: 5px 40px !important;
      font-size: 1.3rem!important;
      margin: 0 5px;
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    font-size: 1.2rem;
  }
  .img-box {
    width: 300px;
    height: 300px;
  }
  .name {
    font-size: 2rem;
  }
  .initials {
    font-size: 3rem !important;
    font-weight: 400;
  }
  .navbar {
    width: 30%;
  }
  .animation-link{
    width: 150px!important;
    .hover {
      padding: 5px 20px !important;
      font-size: 1.2rem!important;
      margin: 0 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    font-size: 1rem;
  }
  .img-box {
    width: 200px;
    height: 200px;
  }
  .name {
    font-size: 1.8rem;
  }
  .initials {
    font-size: 2.5rem !important;
    font-weight: 300;
  }
  .about-me {
    font-size: 1.2rem;
  }
  .slider {
    width: 40px;
    img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
  }
  .navbar {
    width: 60% !important;
  }
   .animation-link{
    width: 120px!important;
    .hover {
      padding: 5px 10px !important;
      font-size: 1rem!important;
      margin: 0 2px;
    }
  }
  .mySwiper{
    margin: 0px 80px;
  }
}

@media screen and (max-width: 576px) {
  // footer{
  
  //   .footer{
  //     padding: 0px;
  //   }
  // }
  header{
    border-bottom: none;
    background-color: transparent !important;
  }
  .img-box {
    margin: 0 auto;
  }
  .main-content {
    & > div {
      padding-top: 0px;
    }
  }
  .index{
    padding-top: 50px;
  }
  .main {
    padding: 50px 0px 0px 0px!important;
    min-height: calc(100vh - 400px);
  }
  .show{
    // padding-top: 50px!important;
    .description{
      width: 80%;
      margin: 0 auto;
    }
  }
  #left-col, #right-col {
    height: calc(50vh - 50px);
  }
  .navbar {
    width: 80% !important;
  }
  .mode-light {
  color: black;
  background-color: #F5F5F7;
}
.contact-container{
  font-size: 0.8rem;
  .contact-content{
    padding: 10px!important;
  }
  strong{
    min-width: 0px!important;
    padding: 2px 5px;
  }
  #title{
    text-align: left;
  }
}
.project{
  width: calc(100% / 2)!important;
  margin: 0 auto  ;
}
}



